.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form label {
  text-decoration: inherit;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form input {
  outline: none;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(45, 35, 66, 0.4);
  font-family: 'JetBrains Mono', monospace;
  box-shadow: 5px 7px 8px -3px rgba(0, 0, 0, 0.75);
}

.addbutton {
  width: 150px;
  height: 30px;
  margin: 10px;
  align-items: center;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    #2d23424d 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
  cursor: pointer;
  font-family: 'JetBrains Mono', monospace;
  justify-content: center;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
}

.addbutton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.addbutton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: scale(1.08);
}
.addbutton:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
